.dandelion-background
  .jumbotron
    .container-fluid.home-podmin
      .row
        .col-md-12.text-center
          %h1= t(".headline")
          %h2= t(".byline")

.container-fluid
  .row
    .col-md-4
      .landing-info-card
        %h3.text-center
          %span.entypo-tools
          = t(".configure_your_pod")
        != t(".configuration_info",
             database_path: content_tag(:code, "config/database.yml"),
             diaspora_path: content_tag(:code, "config/diaspora.yml"))

    .col-md-4
      .landing-info-card
        %h3.text-center
          %span.entypo-add-user
          = t(".create_an_account")
        != t(".create_an_account_info",
             sign_up_link: link_to(t("devise.shared.links.sign_up"), new_user_registration_path))

    .col-md-4
      .landing-info-card
        %h3.text-center
          %span.entypo-key
          = t(".make_yourself_an_admin")
        != t(".make_yourself_an_admin_info",
            admin_dashboard: link_to(t("javascripts.header.admin"), admin_dashboard_path))